g*~
*.sw?
*.iml
pycparser
__pycache__
lextab.py
yacctab.py
.tags
**/*.pyc
.vscode
.idea
ssa-daemon-verify-editted-codebase
ssa-daemon-verify-editted-codebase/*
results/*
cesk/tests/tmp/*
instrumenter/scripts/sandbox/*
.pylintrc
cesk/tests/temp.c
cesk/tests/a.out
cesk/tests/fixtures/struct_functionality/00_addrinfo.h
cesk/tests/fixtures/struct_functionality/01_addrinfo.c
cesk/tests/logfile.txt
cesk/tests/preprocessed.c
cesk/tests/tempfile~
mainPreprocces.c
fake_libc_include/netlink/addrinfo.c
testofcommentsTransform.txt
testTransformWithRedefs.txt
testTransformWithoutRedefs.txt
testWithRedefs.txt
testWithoutRedefs.txt
testofcommentsPrint.txt
logfile.txt
preprocessed.c
ssa-daemon-verify-editted-codebase
tempfile~
