*~
*.sw?
*.iml
pycparser
__pycache__
lextab.py
yacctab.py
.tags
**/*.pyc
.vscode
.idea
logfile.txt
cesk/tests/tmp/*
instrumenter/scripts/sandbox/*
.pylintrc
cesk/tests/fixtures/ssa_functionality/issue_cert.c
cesk/tests/ssa_functionality.py
cesk/tests/temp.c
cesk/tests/fixtures/ssa_functionality/config.c
cesk/tests/fixtures/ssa_functionality/config.h
cesk/tests/fixtures/ssa_functionality/daemon.c
cesk/tests/fixtures/ssa_functionality/daemon.h
cesk/tests/fixtures/ssa_functionality/hashmap.c
cesk/tests/fixtures/ssa_functionality/hashmap.h
cesk/tests/fixtures/ssa_functionality/hashmap_str.c
cesk/tests/fixtures/ssa_functionality/hashmap_str.h
cesk/tests/fixtures/ssa_functionality/in_tls.h
cesk/tests/fixtures/ssa_functionality/issue_cert.h
cesk/tests/fixtures/ssa_functionality/log.c
cesk/tests/fixtures/ssa_functionality/log.h
cesk/tests/fixtures/ssa_functionality/main.c
cesk/tests/fixtures/ssa_functionality/netlink.c
cesk/tests/fixtures/ssa_functionality/netlink.h
cesk/tests/fixtures/ssa_functionality/notification.c
cesk/tests/fixtures/ssa_functionality/notification.h
cesk/tests/fixtures/ssa_functionality/nsd.c
cesk/tests/fixtures/ssa_functionality/nsd.h
cesk/tests/fixtures/ssa_functionality/openssl_compat.c
cesk/tests/fixtures/ssa_functionality/openssl_compat.h
cesk/tests/fixtures/ssa_functionality/queue.c
cesk/tests/fixtures/ssa_functionality/queue.h
cesk/tests/fixtures/ssa_functionality/self_sign.c
cesk/tests/fixtures/ssa_functionality/self_sign.h
cesk/tests/fixtures/ssa_functionality/tb_communications.h
cesk/tests/fixtures/ssa_functionality/tb_connector.c
cesk/tests/fixtures/ssa_functionality/tb_connector.h
cesk/tests/fixtures/ssa_functionality/tls_wrapper.c
cesk/tests/fixtures/ssa_functionality/tls_wrapper.h
cesk/tests/a.out
mainPreprocces.c
.gitignore
.gitignore
