g*~
*.sw?
*.iml
pycparser
__pycache__
lextab.py
yacctab.py
.tags
**/*.pyc
.vscode
.idea
logfile.txt
cesk/tests/tmp/*
instrumenter/scripts/sandbox/*
.pylintrc
cesk/tests/fixtures/ssa_functionality/issue_cert.c
cesk/tests/temp.c
cesk/tests/fixtures/ssa_functionality/config.c
cesk/tests/fixtures/ssa_functionality/config.h
cesk/tests/fixtures/ssa_functionality/daemon.c
cesk/tests/fixtures/ssa_functionality/daemon.h
cesk/tests/fixtures/ssa_functionality/hashmap.c
cesk/tests/fixtures/ssa_functionality/hashmap.h
cesk/tests/fixtures/ssa_functionality/hashmap_str.c
cesk/tests/fixtures/ssa_functionality/hashmap_str.h
cesk/tests/fixtures/ssa_functionality/in_tls.h
cesk/tests/fixtures/ssa_functionality/issue_cert.h
cesk/tests/fixtures/ssa_functionality/log.c
cesk/tests/fixtures/ssa_functionality/log.h
cesk/tests/fixtures/ssa_functionality/main.c
cesk/tests/fixtures/ssa_functionality/netlink.c
cesk/tests/fixtures/ssa_functionality/netlink.h
cesk/tests/fixtures/ssa_functionality/notification.c
cesk/tests/fixtures/ssa_functionality/notification.h
cesk/tests/fixtures/ssa_functionality/nsd.c
cesk/tests/fixtures/ssa_functionality/nsd.h
cesk/tests/fixtures/ssa_functionality/openssl_compat.c
cesk/tests/fixtures/ssa_functionality/openssl_compat.h
cesk/tests/fixtures/ssa_functionality/queue.c
cesk/tests/fixtures/ssa_functionality/queue.h
cesk/tests/fixtures/ssa_functionality/self_sign.c
cesk/tests/fixtures/ssa_functionality/self_sign.h
cesk/tests/fixtures/ssa_functionality/tb_communications.h
cesk/tests/fixtures/ssa_functionality/tb_connector.c
cesk/tests/fixtures/ssa_functionality/tb_connector.h
cesk/tests/fixtures/ssa_functionality/tls_wrapper.c
cesk/tests/fixtures/ssa_functionality/tls_wrapper.h
cesk/tests/a.out
mainPreprocces.c
.gitignore
redefstofix.txt
addrinfo.h
addrinfo.c
cesk/tests/fixtures/struct_functionality/00_addrinfo.h
cesk/tests/fixtures/struct_functionality/01_addrinfo.c
ssa_verify_codebase/config.h
ssa_verify_codebase/config.c
ssa_verify_codebase/daemon.c
ssa_verify_codebase/daemon.h
ssa_verify_codebase/hashmap.c
ssa_verify_codebase/hashmap.h
ssa_verify_codebase/hashmap_str.c
ssa_verify_codebase/hashmap_str.h
ssa_verify_codebase/in_tls.h
ssa_verify_codebase/issue_cert.c
ssa_verify_codebase/issue_cert.h
ssa_verify_codebase/log.c
ssa_verify_codebase/log.h
ssa_verify_codebase/main.c
ssa_verify_codebase/netlink.c
ssa_verify_codebase/netlink.h
ssa_verify_codebase/notification.c
ssa_verify_codebase/notification.h
ssa_verify_codebase/nsd.c
ssa_verify_codebase/nsd.h
ssa_verify_codebase/openssl_compat.c
ssa_verify_codebase/openssl_compat.h
ssa_verify_codebase/queue.c
ssa_verify_codebase/queue.h
ssa_verify_codebase/self_sign.c
ssa_verify_codebase/self_sign.h
ssa_verify_codebase/tb_communications.h
ssa_verify_codebase/tb_connector.c
ssa_verify_codebase/tb_connector.h
ssa_verify_codebase/tls_wrapper.c
ssa_verify_codebase/tls_wrapper.h
logfile old.txt
First Graph.pdf
stuff.dot
stuff.dot.pdf
stuff.dot - Copy.pdf
stuff.dot - before socket_mock.pdf
stuff.dot - nornal quote on quote - 43 states.pdf
stuff.dot w slots.pdf
preprocessed.c
tempfile~
ast_pickle.pkl
.gitignore
