# Defines AST nodes used for Open MP directives. 
# This file is used to generate omp_ast.py the same way that
# pycparser uses _c_ast.cfg to generate c_ast.py 
# following their conventions, each entry is a Node sub-class
# name, listing the attributes and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute


OmpFor: [clauses, loop*]